<head>
        <title>Gouere</title>
        <meta name="viewport" content="initial-scale=1.0">
        <link rel="shortcut icon" href="/img/favicon.ico"/>

        <!-- Open Sans font for Ace -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300" />
</head>