<template name="search">

  <div class="page-content search-view clearfix">
    <div class="page-header">
      <h1>
      Resultados da busca por "{{q}}"
      </h1>

    </div>

    <div class="widget-box transparent">
      <div class="widget-body">
        <div class="widget-main padding-8">
        {{#each results}}

        {{#if isEvent}}
        <div class="profile-activity clearfix">
          <div>
            <img class="pull-left" alt="{{name}}" src="{{cfsFileUrl 'default1' file=picture}}">
            <a class="" href="/events_view/{{_id}}"> {{name}} </a> em <a href="#">{{place.name}}</a> - <a href="#">{{city.name}}</a> 
            
            <div class="time">
              <small>{{prettyDate start_date}}</small>
            </div>

            <div class="attractions">
            {{#if attractions.edm}}
            <strong class="badge badge-light">EDM</strong>
            {{/if}}

            {{#if attractions.sertanejo}}
            <strong class="badge badge-light">Sertanejo</strong>
            {{/if}}

            {{#if attractions.pagode}}
            <strong class="badge badge-light">Pagode</strong>
            {{/if}}

            {{#if attractions.hip_hop}}
            <strong class="badge badge-light">Hip Hop</strong>
            {{/if}}

            {{#if attractions.rock}}
            <strong class="badge badge-light">Rock</strong>
            {{/if}}

            {{#if attractions.funk}}
            <strong class="badge badge-light">Funk</strong>
            {{/if}}
            </div>
          </div>
        </div>
        {{/if}}

        {{#if isCity}}
        <div class="profile-activity clearfix">
          <div>
            Cidade de <a class="" href="#"> {{name}} </a> 
          </div>
        </div>
        {{/if}}

        {{#if isPlace}}
        <div class="profile-activity clearfix">
          <div>
            <a class="" href="#"> {{name}} </a> em <a href="#">{{city.name}}</a> 
          </div>
        </div>
        {{/if}}

        {{/each}}
        </div>
      </div>
    </div>

  </div>

</template>