.search-view {

}

.search-view img {
  margin: -4px 8px 0 0;
  border-radius: 0px;
  border: 2px solid #FFF;
  height: 75px;
  max-width: 75px !important;
  width: 75px;
}

.search-view .attractions strong {
  font-size: 9px;
}