<template name="how_works">
  <div class="page-content search-view clearfix">
    <div class="page-header">
      <h1>
      Como funciona o Gouere?
      </h1>
    </div>

    <div>
      
      <h3>Geral</h3>
      <p>
      A ideia principal do Gouere é mostrar de maneira rápida, possíveis eventos próximos a você que satisfaçam o seu gosto, 
      seu estilo musical entre outros.
      </p>

      <hr>

      <h3>Acesso</h3>
      <p>
      No momento a única maneira de acessar o Gouere é utilizando a sua conta no Facebook. Nós iremos utilizar algumas
      informações suas como nome, foto, lista de amigos entre outras. Quando você estiver se registrando será
      exibido quais informações estarão sendo requisitadas do seu <a href="http://facebook.com">Facebook</a>.
      </p>

      <hr>

      <h3>Busca por eventos</h3>
      <p>
      A princípio existem duas maneiras de buscar eventos no Gouere. Uma delas é a busca com mapa disponível na página
      e o outro é a busca geral através do campo da barra superior de navegação.
      </p>

    </div>  

  </div>
</template>