<template name="signin">
  <div class="page-content signin clearfix">

    <div class="center-box">
      <h1 class="text-highlight text-big">Não perca tempo!</h1>
      <div class="sigign-button">
        {{loginButtons}}
      </div>
      <h2 class="text-highlight text-medium">Fique por dentro do rola perto de você!</h2>
    </div>

  </div>
</template>