.signin {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.signin .center-box {
  width: 450px;
  height: 200px;
  margin: 150px auto;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 1px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 1px;
  border-radius: 20px;
  padding: 20px;
}

.signin .center-box .text-highlight {
  padding: 0;
  margin: 0 8px;
  font-weight: lighter;
  color: #2679b5;
}

.signin .center-box .text-highlight.text-big {
  font-size: 24px;
}

.signin .center-box .text-highlight.text-medium {
  font-size: 20px;
  margin: 50px 0 0 25px;
}

.signin .center-box .sigign-button {
  margin: 30px 0 0 100px;
}

.signin .center-box .sign-in-text-facebook {
  font-size: 13px;
}

@media (min-width: 900px) {
  .signin {
    background: url('/images/general/signin_bgs/bg_1422x800.jpg') no-repeat;
  }
}

@media (min-width: 1300px) {
  .signin {
    background: url('/images/general/signin_bgs/bg_1920x1080.jpg') no-repeat;
  }
}