<template name="admin_places_list_item">
  <tr class="">
    <td class="center">
      <label>
        <input type="checkbox" class="ace">
        <span class="lbl"></span>
      </label>
    </td>

    <td>
      <a href="#">{{name}}</a>
    </td>
    <td>{{city.name}}</td>

    <td>
      <span class="label label-sm {{labelClass}}">{{labelStatus}}</span>
    </td>

    <td>
      <div class="visible-md visible-lg hidden-sm hidden-xs btn-group">

        {{#if isActive}}
        <button title="Inativar local" class="btn btn-inactive btn-xs btn-danger">
          <i class="icon-thumbs-down bigger-120"></i>
        </button>
        {{else}}
        <button title="Ativar local" class="btn btn-active btn-xs btn-success">
          <i class="icon-thumbs-up bigger-120"></i>
        </button>
        {{/if}}

        <button title="Edtitar local" class="btn btn-edit btn-xs btn-primary">
          <i class="icon-pencil bigger-120"></i>
        </button>

      </div>
    </td>
  </tr>
</template>