<template name="admin_places_edit">

  {{#with place}}
  <div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
      <li>
        <i class="icon-home home-icon"></i>
        <a href="{{pathFor 'admin_index'}}">{{i18n "Administração"}}</a>
      </li>

      <li>
        <a href="#">{{i18n "Locais"}}</a>
      </li>
      <li class="active">Editando</li>
    </ul>
  </div>

  <div class="page-content admin-places-new">

    <div class="page-header">
      <h1>
      {{i18n "Editar local"}}
      </h1>
    </div>

    <div class="col-xs-12 no-padding">
      <form class="form-horizontal">
        <div class="tabbable">
          <ul class="nav nav-tabs" id="myTab">
            <li class="active">
              <a data-toggle="tab" href="#general">
                <i class="icon-home bigger-110"></i>
                {{i18n "Geral"}}
              </a>
            </li>
          </ul>

          <div class="tab-content">
            <div id="general" class="tab-pane in active">
              <div class="form-group">
                <label class="col-sm-2 control-label no-padding-right">{{i18n 'Nome'}}</label>

                <div class="col-sm-9">
                  <input class="input-sm width-40" type="text" name="name" placeholder="{{i18n 'Nome'}}" value="{{name}}">
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label no-padding-right">{{i18n 'Descrição'}}</label>

                <div class="col-sm-9">
                <textarea name="description" rows="6" class="autosize-transition width-60 form-control input-sm" style="">{{description}}</textarea>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label no-padding-right">{{i18n 'Cidade'}}</label>

                <div class="col-sm-9">
                <input class="input-sm width-40" type="text" value="{{city.name}}" name="city" placeholder="{{i18n 'Cidade...'}}">
                <input name="city_id" type="hidden" value="{{city_id}}">
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label no-padding-right">{{i18n 'Coordenadas'}}</label>
                <div class="col-sm-9">
                  <div id="map-box">

                  </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label no-padding-right">{{i18n 'Latitude'}}</label>

                <div class="col-sm-9">
                  <input class="input-sm width-40" readonly="readonly" type="text" value="{{latitude}}" name="latitude" placeholder="{{i18n 'Latitude'}}">
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label no-padding-right">{{i18n 'Longitude'}}</label>

                <div class="col-sm-9">
                  <input class="input-sm width-40" readonly="readonly" type="text" value="{{longitude}}" name="longitude" placeholder="{{i18n 'Longitude'}}">
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="widget-toolbox padding-8 clearfix">
          <button class="btn btn-xs btn-danger btn-cancel pull-left">
            <i class="icon-remove"></i>
            <span class="bigger-110">{{i18n "Cancelar"}}</span>
          </button>

          <button type="submit" class="btn btn-xs btn-success btn-save pull-right">
            <span class="bigger-110">{{i18n "Salvar"}}</span>

            <i class="icon-arrow-right icon-on-right"></i>
          </button>
        </div>

      </form>
    </div>

  </div>
  {{/with}}
</template>