/*navbar customization*/
.navbar {
	box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 1px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 1px;
}

.page-content .page-header:first-child h1 {
	margin: 0;
}

.main-content {
	margin-left: 0;
}