<template name="admin_events_list">

	<div class="breadcrumbs" id="breadcrumbs">
		<ul class="breadcrumb">
			<li>
				<i class="icon-home home-icon"></i>
				<a href="{{pathFor 'admin_index'}}">{{i18n "Administração"}}</a>
			</li>

			<li>
				<a href="{{pathFor 'admin_events_list'}}">{{i18n "Eventos"}}</a>
			</li>
			<li class="active">{{i18n "Lista"}}</li>
		</ul>
	</div>

	<div class="page-content admin-events-list">

		<div class="page-header">
			<h1>
			{{i18n "Lista de eventos"}}
			</h1>
		</div>

		<div class="col-xs-12 no-padding">
      <div class="events-filters clearfix">
        <form class="form-inline">
          <div class="pull-left">
            <input type="text" name="city" class="input-sm" placeholder="Cidade">
            <input type="hidden" name="city_id">
            <input type="text" name="name" class="input-sm " placeholder="Nome">
            <label class="inline checkbox">
              <input name="inactive" type="checkbox" class="ace input-sm">
              <span class="lbl"> Exibir inativos</span>
            </label>
          </div>
          <div class="pull-right">
            <button type="submit" class="btn btn-sm btn-primary">Filtrar</button>
          </div>
        </form>
      </div>

      <hr>
      <a href="{{pathFor 'admin_events_new'}}">Novo evento</a>
			<div class="table-responsive">
				<table id="events-list" class="table table-striped table-bordered table-hover events-list">
					<thead>
						<tr>
							<th class="center">
							</th>
							<th>Nome</th>
							<th>Data</th>
							<th>Local</th>
							<th>Autor</th>
							<th>Status</th>
							<th></th>
						</tr>
					</thead>

					<tbody>
						{{#each events}}
							{{> admin_events_list_item }}
						{{/each}}
					</tbody>
				</table>
			</div>
		</div>
	</div>

</template>