<template name="admin_events_new">

	<div class="breadcrumbs" id="breadcrumbs">
		<ul class="breadcrumb">
			<li>
				<i class="icon-home home-icon"></i>
				<a href="{{pathFor 'admin_index'}}">{{i18n "Administração"}}</a>
			</li>

			<li>
				<a href="{{pathFor 'admin_events_list'}}">{{i18n "Eventos"}}</a>
			</li>
			<li class="active">Novo</li>
		</ul>
	</div>

	<div class="page-content">

		<div class="page-header">
			<h1>
			{{i18n "Novo Evento"}}
			</h1>
		</div>

		<div class="col-xs-12 no-padding">
			<form class="form-horizontal">
				<div class="tabbable">
					<ul class="nav nav-tabs" id="myTab">
						<li class="active">
							<a data-toggle="tab" href="#general">
								<i class="icon-home bigger-110"></i>
								{{i18n "Geral"}}
							</a>
						</li>

						<li>
							<a data-toggle="tab" href="#attractions">
								<i class="icon-home bigger-110"></i>
								{{i18n "Atrações"}}	
							</a>
						</li>

						<li>
							<a data-toggle="tab" href="#features">
								<i class="icon-home bigger-110"></i>
								{{i18n "Características"}}	
							</a>
						</li>
					</ul>

					<div class="tab-content">
						<div id="general" class="tab-pane in active">
							<div class="form-group">
								<label class="col-sm-2 control-label no-padding-right">{{i18n 'Nome'}}</label>

								<div class="col-sm-9">
									<input class="input-sm width-40" type="text" name="name" placeholder="{{i18n 'Nome'}}">
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-2 control-label no-padding-right">{{i18n 'Data'}}</label>

								<div class="col-sm-9">
									<div class="input-group width-20">
										<input class="form-control date-picker input-sm" name="start_date" type="text" data-date-format="dd-mm-yyyy">
										<span class="input-group-addon">
											<i class="icon-calendar bigger-110"></i>
										</span>
									</div>
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-2 control-label no-padding-right">{{i18n 'Hora'}}</label>

								<div class="col-sm-9">
									<div class="input-group width-20 bootstrap-timepicker">
										<input type="text" name="start_time" class="time-picker form-control">
										<span class="input-group-addon">
											<i class="icon-time bigger-110"></i>
										</span>
									</div>
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-2 control-label no-padding-right">{{i18n 'Local'}}</label>

								<div class="col-sm-9">
								<input class="input-sm width-40" type="text" name="place" placeholder="{{i18n 'Local...'}}">
								<input name="place_id" type="hidden">
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-2 control-label no-padding-right">{{i18n 'Descrição'}}</label>

								<div class="col-sm-9">
									<textarea name="description" rows="6" class="input-sm autosize-transition width-60 form-control" style=""></textarea>
								</div>
							</div>

						</div>

						<div id="attractions" class="tab-pane">
							<div class="control-group">
								<label class="control-label bolder blue">Atrações</label>

								<div class="checkbox">
									<label>
										<input name="attractions.edm" type="checkbox" class="ace">
										<span class="lbl"> EDM </span>
									</label>
								</div>

								<div class="checkbox">
									<label>
										<input name="attractions.sertanejo" type="checkbox" class="ace">
										<span class="lbl"> Sertanejo </span>
									</label>
								</div>

								<div class="checkbox">
									<label>
										<input name="attractions.pagode" class="ace ace-checkbox" type="checkbox">
										<span class="lbl"> Pagode </span>
									</label>
								</div>

								<div class="checkbox">
									<label>
										<input name="attractions.hip_hop" class="ace ace-checkbox" type="checkbox">
										<span class="lbl"> Hip Hop </span>
									</label>
								</div>

								<div class="checkbox">
									<label>
										<input name="attractions.rock" class="ace ace-checkbox" type="checkbox">
										<span class="lbl"> Rock </span>
									</label>
								</div>

								<div class="checkbox">
									<label>
										<input name="attractions.funk" class="ace ace-checkbox" type="checkbox">
										<span class="lbl"> Funk </span>
									</label>
								</div>
							</div>
						</div>

						<div id="features" class="tab-pane">
							<div class="control-group">
								<label class="control-label bolder blue">Caracteristicas</label>

								<div class="checkbox">
									<label>
										<input name="features.open_bar" type="checkbox" class="ace">
										<span class="lbl"> Open Bar </span>
									</label>
								</div>

							</div>
						</div>
					</div>
				</div>
				<div class="widget-toolbox padding-8 clearfix">
					<button class="btn btn-xs btn-danger btn-cancel pull-left">
						<i class="icon-remove"></i>
						<span class="bigger-110">{{i18n "Cancelar"}}</span>
					</button>

					<button type="submit" class="btn btn-xs btn-success btn-save pull-right">
						<span class="bigger-110">{{i18n "Salvar"}}</span>

						<i class="icon-arrow-right icon-on-right"></i>
					</button>
				</div>

			</form>
		</div>

	</div>

</template>
