<template name="admin_events_list_item">
	<tr class="">
		<td class="center">
			<label>
				<input type="checkbox" class="ace">
				<span class="lbl"></span>
			</label>
		</td>

		<td>
			<a href="/events_view/{{_id}}">{{name}}</a>
		</td>
		<td>{{prettyDate start_date}}</td>
		<td>{{place.name}}</td>
		<td>{{user.name}}</td>

		<td>
			<span class="label label-sm {{labelClass}}">{{labelStatus}}</span>
		</td>

		<td>
			<div class="visible-md visible-lg hidden-sm hidden-xs btn-group">

				{{#if isActive}}
				<button title="Inativar evento" class="btn btn-inactive btn-xs btn-danger">
					<i class="icon-thumbs-down bigger-120"></i>
				</button>
				{{else}}
				<button title="Ativar evento" class="btn btn-active btn-xs btn-success">
					<i class="icon-thumbs-up bigger-120"></i>
				</button>
				{{/if}}

				<button title="Edtitar evento" class="btn btn-edit btn-xs btn-primary">
					<i class="icon-pencil bigger-120"></i>
				</button>

				<button title="Alterar foto do evento" class="btn btn-change-picture btn-xs btn-yellow">
					<i class="icon-picture bigger-120"></i>
				</button>

			</div>
		</td>
	</tr>
</template>