<template name="admin_events_change_picture">
  {{#with event}}
  <div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
      <li>
        <i class="icon-home home-icon"></i>
        <a href="{{pathFor 'admin_index'}}">{{i18n "Administração"}}</a>
      </li>

      <li>
        <a href="{{pathFor 'admin_events_list'}}">{{i18n "Eventos"}}</a>
      </li>
      <li class="active">Alterando foto</li>
    </ul>
  </div>

  <div class="page-content">

    <div class="page-header">
      <h1>
      {{i18n "Alterar foto"}}
      <small>
        <i class="icon-double-angle-right"></i>
        {{name}}
      </small>
      </h1>
    </div>

    <div class="col-xs-12 no-padding">
      <form>
        <input name="picture" type="file">
        <br>
        {{#if hasPictureChanged}}
          <small>Última alteração de foto deste evento: {{prettyDate last_change_picture}}</small>
        {{/if}}
        <hr>
        <button type="submit" class="btn btn-success btn-sm btn-change-picture">Enviar</button>
      </form>
    </div>
  </div>
  {{/with}}

</template>