<template name="admin_index">

  <div class="page-content admin-index clearfix">
    <div class="page-header">
      <h1>
      Administração
      </h1>
    </div>

    <div class="row">
      <div class="col-sm-7 infobox-container">
        <div class="infobox infobox-green  ">
          <div class="infobox-icon">
            <i class="icon-bullhorn"></i>
          </div>

          <div class="infobox-data">
            <span class="infobox-data-number">{{countEvents}}</span>
            <div class="infobox-content">eventos</div>
          </div>
        </div>

        <div class="infobox infobox-blue  ">
          <div class="infobox-icon">
            <i class="icon-user"></i>
          </div>

          <div class="infobox-data">
            <span class="infobox-data-number">{{countUsers}}</span>
            <div class="infobox-content">usuários</div>
          </div>
        </div>

        <div class="infobox infobox-pink  ">
          <div class="infobox-icon">
            <i class="icon-home"></i>
          </div>

          <div class="infobox-data">
            <span class="infobox-data-number">{{countPlaces}}</span>
            <div class="infobox-content">locais</div>
          </div>
        </div>

        <div class="infobox infobox-red  ">
          <div class="infobox-icon">
            <i class="icon-globe"></i>
          </div>

          <div class="infobox-data">
            <span class="infobox-data-number">{{countCities}}</span>
            <div class="infobox-content">cidades</div>
          </div>
        </div>

        <div class="infobox infobox-orange2  ">
          <div class="infobox-icon">
            <i class="icon-user"></i>
          </div>

          <div class="infobox-data">
            <span class="infobox-data-number">{{usersToday}}</span>
            <div class="infobox-content">usuários novos hoje</div>
          </div>
        </div>

      </div>
      <div class="col-sm-5">
        <div class="widget-box transparent">
          <div class="widget-header widget-header-flat">
            <h4 class="lighter">
              <i class="icon-user orange"></i>
              Últimos usuários cadastrados
            </h4>
          </div>

          <div class="widget-body">
            <div class="widget-body-inner" style="display: block;">
              <div class="widget-main no-padding">
                <table class="table table-bordered table-striped">
                  <thead class="thin-border-bottom">
                    <tr>
                      <th>
                        Nome
                      </th>

                      <th>
                        Data
                      </th>
                    </tr>
                  </thead>

                  <tbody>
                  {{#each lastUsers}}
                    <tr>
                      <td>{{name}}</td>

                      <td>{{createdAt_str}}</td>

                    </tr>
                  {{/each}}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="">
        <div class="widget-box transparent">
          <div class="widget-header widget-header-flat">
            <h4 class="lighter">
              <i class="icon-bullhorn blue"></i>
              Últimos eventos cadastrados
            </h4>
          </div>

          <div class="widget-body">
            <div class="widget-body-inner" style="display: block;">
              <div class="widget-main no-padding">
                <table class="table table-bordered table-striped">
                  <thead class="thin-border-bottom">
                    <tr>
                      <th>
                        Nome
                      </th>

                      <th>
                        Data
                      </th>

                      <th>
                        Local
                      </th>

                      <th>
                        Cidade
                      </th>

                      <th>
                        Autor
                      </th>
                    </tr>
                  </thead>

                  <tbody>
                  {{#each lastEvents}}
                    <tr>
                      <td>{{name}}</td>

                      <td>{{prettyDate start_date}}</td>

                      <td>{{place.name}}</td>

                      <td>{{city.name}}</td>
                      
                      <td>{{author}}</td>
                    </tr>
                  {{/each}}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
	
</template>