.events-browser-results {
  
}

.events-browser-results .attractions strong {
  font-size: 10px;
  padding-bottom: 0;
  padding-top: 0;
}

.events-browser-results hr {
	margin-top: 5px;
}

.events-browser-results .event-info {
	padding-left: 3px;
}