<template name="events_browser_results">
	<div class="widget-container-span ui-sortable events-browser-results">
		<div class="widget-box transparent">
			<div class="widget-header">
				<h4 class="lighter">Resultados da busca {{resultsCount}}</h4>
			</div>

			<div class="widget-body">
				<div class="widget-main padding-6 no-padding-left no-padding-right">
					<div class="scrolled">
						{{#if moreThanOne }}
							{{#each events}}
								<div class="event-info">

									<div class="event-name">
										<a href="/events_view/{{_id}}"><strong>{{name}}</strong></a>
									</div>
									<small>
										<a href="">{{place.name}}</a>
									</small>
									<div>
										<small>{{prettyDate start_date}}</small>
									</div>

									<div class="attractions">
		              {{#if hasAttractions}}

		                {{#if attractions.edm}}
		                <strong class="badge badge-light">EDM</strong>
		                {{/if}}

		                {{#if attractions.sertanejo}}
		                <strong class="badge badge-light">Sertanejo</strong>
		                {{/if}}

		                {{#if attractions.pagode}}
		                <strong class="badge badge-light">Pagode</strong>
		                {{/if}}

		                {{#if attractions.hip_hop}}
		                <strong class="badge badge-light">Hip Hop</strong>
		                {{/if}}

		                {{#if attractions.rock}}
		                <strong class="badge badge-light">Rock</strong>
		                {{/if}}

		                {{#if attractions.funk}}
		                <strong class="badge badge-light">Funk</strong>
		                {{/if}}

		              {{else}}
		                <small>{{i18n "Não foram informadas atrações para este evento"}}</small>
		              {{/if}}
									</div>

									<hr>

								</div>
							{{/each}}
						{{else}}
						<div class="alert alert-info">
							<strong>
								<i class="icon-alert"></i>
								{{i18n "Oooops!"}}
							</strong>
							{{i18n "Não foi encontrado nenhum evento...que tristeza =/"}}
							<br>
						</div>
						{{/if}}
					</div>
				</div>
			</div>
		</div>
	</div>
</template>