.events-browser-popup {

}

.events-browser-popup hr {
	margin-top: 10px;
	margin-bottom: 10px;
}

.events-browser-popup .attractions {
  margin-top: 5px;
}

.events-browser-popup .attractions strong {
  font-size: 9px;
  padding-bottom: 0;
  margin-right: 2px;
}