<template name="events_browser_filters">
	<div class="events-browser-filters" id="filters-box">
		<div class="widget-box">
			<div class="widget-header">
				<h5 class="smaller">{{i18n "Buscar eventos"}}</h5>

				<div class="widget-toolbar no-border">
					<ul class="nav nav-tabs" id="">
						<li class="active">
							<a data-toggle="tab" href="#general">{{i18n "Geral"}}</a>
						</li>

						<li class="">
							<a data-toggle="tab" href="#what">{{i18n "Atrações"}}</a>
						</li>
					</ul>
				</div>
			</div>

			<form class="form-horizontal">
				<div class="widget-body">
					<div class="widget-main padding-0">
						<div class="tab-content">
							<div id="general" class="tab-pane active">									
								<div class="form-group">
									<label class="col-sm-2 control-label no-padding-right" for="form-field-2"> {{i18n "Cidade"}} </label>
									<div class="col-sm-9">
										<select class="width-60 chosen-select" name="city_id" data-placeholder="Selecione a sua cidade...">
											<option value=""></option>
											{{#each cities}}

												{{#if isMyCity _id}}
													<option value="{{_id}}" selected>{{name}}</option>
												{{else}}
													<option value="{{_id}}">{{name}}</option>
												{{/if}}

											{{/each}}
										</select>
									</div>
								</div>
								<hr>
								<div class="form-group">
									<label class="col-sm-2 control-label no-padding-right" for="form-field-2"> {{i18n "Data"}} </label>
									<div class="input-group col-sm-9">
										<span class="input-group-addon">
											<i class="icon-calendar"></i>
										</span>
										<input class="width-60 input-sm daterange_picker form-control input-mask-product" type="text" id="form-field-mask-3">
										<input type="hidden" name="start_date" />
										<input type="hidden" name="end_date" />
									</div>
								</div>	
								<p class="date-helpers">
									<a type="button" data-helper="last_week" class="date-helper  btn-link">{{i18n "Último fim de semana"}}</a>
									<a type="button" data-helper="yesterday" class="date-helper  btn-link">{{i18n "Ontem"}}</a>
									<a type="button" data-helper="today" class="date-helper  btn-link">{{i18n "Hoje"}}</a>
									<a type="button" data-helper="tomorrow" class="date-helper  btn-link">{{i18n "Amanhã"}}</a>
									<a type="button" data-helper="next_week" class="date-helper  btn-link">{{i18n "Próximo de semana"}}</a>
								</p>
							</div>

							<div id="what" class="tab-pane">

								<div class="col-sm-6">
									<div class="checkbox">
										<label>
											<input name="attractions.edm" type="checkbox" class="ace">
											<span class="lbl"> EDM </span>
										</label>
									</div>

									<div class="checkbox">
										<label>
											<input name="attractions.sertanejo" type="checkbox" class="ace">
											<span class="lbl"> Sertanejo </span>
										</label>
									</div>

									<div class="checkbox">
										<label>
											<input name="attractions.pagode" class="ace ace-checkbox" type="checkbox">
											<span class="lbl"> Pagode </span>
										</label>
									</div>
								</div>

								<div class="col-sm-6">
									<div class="checkbox">
										<label>
											<input name="attractions.hip_hop" class="ace ace-checkbox" type="checkbox">
											<span class="lbl"> Hip Hop </span>
										</label>
									</div>

									<div class="checkbox">
										<label>
											<input name="attractions.rock" class="ace ace-checkbox" type="checkbox">
											<span class="lbl"> Rock </span>
										</label>
									</div>

									<div class="checkbox">
										<label>
											<input name="attractions.funk" class="ace ace-checkbox" type="checkbox">
											<span class="lbl"> Funk </span>
										</label>
									</div>
								</div>
							</div>

						</div>
					</div>
					<div class="widget-toolbox padding-8 clearfix">
						<button class="btn btn-xs btn-success pull-right">
							<span class="bigger-110">{{i18n "Buscar"}}</span>
							<i class="icon-arrow-right icon-on-right"></i>
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</template>