<template name="events_browser_popup">

	<div class="event-item">
		<div class="">
			<a href="/events_view/[[_id]]">
				<strong class="name">[[name]]</strong>
			</a>
		</div>
		<a href=""><small>[[place_name]]</small></a>
		<div>
			<small>[[start_date]]</small>
		</div>
		<div class="attractions">
		[[attractions]]
		</div>
	</div>

</template>