<template name="events_browser">

	<div class="events-browser">

		<div class="page-content page-content-no-margin">	

			{{> events_browser_map }}

			{{> events_browser_info }}

		</div>

	</div>

</template>