.events-browser .page-content {
	padding: 0;
}

.events-browser #filters-box {
	width: 500px;
	padding: 10px;
}

.events-browser #filters-box .widget-main {
	min-height: 250px;
}

.events-browser #map-box {
	bottom: 0;
	left: 500px;
	position: fixed;
	right: 0;
	top: 45px;
	z-index: 1;
}