<template name="events_view">
  {{#with event}}
  <div class="page-content events-view clearfix">

    <div class="page-header">
      <h1>
      {{name}}      
      {{#if isAdmin currentUser}}
        <a href="{{pathFor 'admin_events_edit'}}" class="btn btn-primary btn-xs" title="Editar evento">
          <i class="icon-pencil bigger-110 icon-only"></i>
        </a>
      {{/if}}
      </h1>

    </div>

    <div class="col-xs-12 no-padding">

      <div class="clearfix">
        <div class="col-xs-12 col-sm-3 center event-picture-box">
          <div>
            <span class="profile-picture">
              {{#if hasPicture}}
                <img class="img-responsive" title="" src="/images/events/{{picture_name}}"></img>
              {{else}}
                <img class="img-responsive" title="" src="/images/general/no-picture.jpg"></img>
              {{/if}}
            </span>
          </div>
        </div>

        <div class="col-xs-12 info-box clearfix">
          <div class="profile-user-info profile-user-info-striped">
            <div class="profile-info-row">
              <div class="profile-info-name"> Data </div>

              <div class="profile-info-value">
                <span class="">{{prettyDate start_date}}</span>

                {{#if alreadyHappened}}
                  <small class=""> (Este evento já aconteceu)</small>
                {{/if}}
              </div>
            </div>

            <div class="profile-info-row">
              <div class="profile-info-name"> Local </div>

              <div class="profile-info-value">
                <a href=""><i class="icon-map-marker btn-map light-orange bigger-110"></i></a>
                <span><a href="">{{place.name}}</a></span>
                <span><a href="">{{place.city.name}}</a></span>
              </div>
            </div>

            <div class="profile-info-row">
              <div class="profile-info-name"> Atrações </div>

              <div class="profile-info-value">
              {{#if hasAttractions}}

                {{#if attractions.edm}}
                <strong class="badge badge-light">EDM</strong>
                {{/if}}

                {{#if attractions.sertanejo}}
                <strong class="badge badge-light">Sertanejo</strong>
                {{/if}}

                {{#if attractions.pagode}}
                <strong class="badge badge-light">Pagode</strong>
                {{/if}}

                {{#if attractions.hip_hop}}
                <strong class="badge badge-light">Hip Hop</strong>
                {{/if}}

                {{#if attractions.rock}}
                <strong class="badge badge-light">Rock</strong>
                {{/if}}

                {{#if attractions.funk}}
                <strong class="badge badge-light">Funk</strong>
                {{/if}}

              {{else}}
                {{i18n "Não foram informadas atrações para este evento"}}
              {{/if}}
              </div>
            </div>

            {{#if alreadyHappened}}
            <div class="profile-info-row">
              <div class="profile-info-name"> Avaliação geral </div>

              <div class="profile-info-value">
                {{#if hasVotes}}
                <span class="btn btn-app btn-sm {{avgColor avg}} no-hover"
                  data-rel="tooltip"
                  title="A avaliação geral é a média aritmética  entre as avaliações dos critérios disponíveis (organização, local, atrações, estacionamento e público)">
                  <span class="line-height-1 bigger-170"> {{avg}} </span>
                  <span class="line-sup">/5</span>

                  <br>
                  <span class="line-height-1 smaller-90"> {{avgLabel avg}} </span>
                </span>
                {{else}}
                <span>Este evento não possui nenhuma avaliação ainda.</span>
                {{/if}}
              </div>
            </div>
            {{/if}}

          </div>

        </div>

        {{#if alreadyHappened}}
        <div class="col-xs-12 avaliations-box clearfix">
          <div class=" profile-user-info profile-user-info-striped">

            <div class="aval-header">
            {{#if alreadyVotted}}
              <small>{{alreadyVottedMsg totalVotes}}</small>
            {{else}}
              <h5 class="smaller title">
                <span class="center badge badge-success">Avalie este evento!</span>
              </h5>
            {{/if}}
            </div>

            <div class="profile-info-row">
              <div class="profile-info-name" data-rel="tooltip" title="Dê uma nota de 1 a 5 para a organização em geral, que inclui as filas, bares, banheiros e critérios do gênero."> Organização </div>
              <div class="profile-info-value">
                <div class="raty-stars" data-criteria="organization" id="organization_rate"></div>
                {{#if hasOrganizationScore}}
                <strong class="badge pull-right {{avgScoreColor organizationScore}}">{{organizationScore}}</strong>
                {{/if}}
              </div>
            </div>

            <div class="profile-info-row">
              <div class="profile-info-name" data-rel="tooltip" title="Dê uma nota de 1 a 5 para o local deste evento."> Local </div>
              <div class="profile-info-value">
                <div class="raty-stars" data-criteria="place" id="place_rate"></div>
                {{#if hasPlaceScore}}
                <strong class="badge pull-right {{avgScoreColor placeScore}}">{{placeScore}}</strong>
                {{/if}}
              </div>
            </div>

            <div class="profile-info-row">
              <div class="profile-info-name" data-rel="tooltip" title="Dê uma nota de 1 a 5 para as atrações que houveram neste evento."> Atrações </div>
              <div class="profile-info-value">
                <div class="raty-stars" data-criteria="attractions" id="attractions_rate"></div>
                {{#if hasAttractionsScore}}
                <strong class="badge pull-right {{avgScoreColor attractionsScore}}">{{attractionsScore}}</strong>
                {{/if}}
              </div>
            </div>

            <div class="profile-info-row">
              <div class="profile-info-name" data-rel="tooltip" title="Dê uma nota de 1 a 5 para o estacionamento deste evento."> Estacionamento </div>
              <div class="profile-info-value">
                <div class="raty-stars" data-criteria="parking" id="parking_rate"></div>
                {{#if hasParkingScore}}
                <strong class="badge pull-right {{avgScoreColor parkingScore}}">{{parkingScore}}</strong>
                {{/if}}
              </div>
            </div>

            <div class="profile-info-row">
              <div class="profile-info-name" data-rel="tooltip" title="Dê uma nota de 1 a 5 para o público que estava presente na festa."> Público </div>
              <div class="profile-info-value">
                <div class="raty-stars" data-criteria="people" id="people_rate"></div>
                {{#if hasPeopleScore}}
                <strong class="badge pull-right {{avgScoreColor peopleScore}}">{{peopleScore}}</strong>
                {{/if}}
              </div>
            </div>

            {{#if alreadyVotted}}
            <div class="aval-footer">
              
            </div>
            {{/if}}

          </div>  
        </div>
        {{/if}}

      </div>
      <hr>
      <div class="tabs-box">
        <div class="tabbable">
          <ul class="nav nav-tabs">

            {{#if alreadyHappened}}
            <li class="active">
              <a data-toggle="tab" href="#activity">
                <i class="blue icon-bookmark bigger-110"></i>
                Atividades recentes
              </a>
            </li>
            <li class="">
            {{else}}
            <li class="active">
            {{/if}}
              <a data-toggle="tab" href="#description">
                <i class="green icon-home bigger-110"></i>
                Descrição
              </a>
            </li>
          </ul>

          <div class="tab-content">

            {{#if alreadyHappened}}
            <div id="activity" class="tab-pane in active">
               
            <div class="widget-box transparent">


              <div class="widget-body">
                <div class="widget-main padding-8">
                  <div class="slimScrollDiv" style="">
                    <div id="profile-feed-1" class="profile-feed" style="">
                      
                    {{#if hasLogs}}
                      {{#each logs}}
                        <div class="profile-activity clearfix">
                          <div>
                            <img class="pull-left user-img" alt="Alex Doe's avatar" src="https://graph.facebook.com/{{user.services.facebook.id}}/picture?type=square">
                            <a class="use2r" href="#"> {{user.name}} </a>
                            avaliou {{criteriaFormat data.criteria}} deste evento como <span>{{scoreFormat data.score data.criteria}}</span>

                            <div class="time">
                              <i class="icon-time bigger-110"></i>
                              {{prettyDate data.votedAt}}
                            </div>
                          </div>
                        </div>
                      {{/each}}
                      <small>Apenas as últimas 20 atividades são registradas aqui.</small>
                    {{else}}
                      <span>Nenhuma atividade recente registrada nesse evento.</span>
                    {{/if}}

                    </div>
                  </div>
                </div>
              </div>
            </div>

            </div>
            <div id="description" class="tab-pane in pre-line-div">
            {{else}}
            <div id="description" class="tab-pane active in pre-line-div">
            {{/if}}
              {{description}}
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="events-view-map modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Local</h4>
        </div>
        <div class="modal-body">
          <div id="map-box"></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Fechar</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
  {{/with}}
</template>