.events-view .event-picture-box {
  width: 210px;
  padding: 0;
}

.events-view .info-box {
  width: 550px;
}

.events-view .info-box .line-sup {
  vertical-align: top;
  font-size: 18px;
  line-height: 18px;
  margin-right: -8px;
}

.events-view .event-picture-box img {
  width: 200px;
  height: 200px;
}

.events-view .pre-line-div {
  white-space: pre-line;
}

.events-view-map #map-box {
  width: 500px;
  height: 300px;
}

.events-view .avaliations-box {
  width: 350px;
  margin: 0;
}

.events-view .avaliations-box .raty-stars {
  display: inline-block;
  vertical-align: middle;
}

.events-view .avaliations-box .profile-info-value,
.events-view .info-box  .profile-info-value {
  margin-left: 110px;
}

.events-view .avaliations-box .badge {
  font-size: 15px;
  display: inline-block;
  vertical-align: middle;
}

.events-view .avaliations-box .aval-header {
  padding: 0px 10px;
}

.events-view .avaliations-box .aval-footer {
  padding: 0px 5px;
}

.events-view .avaliations-box .aval-header .title {
  margin-top: 8px;
  margin-bottom: 8px;
}

.events-view #activity .user-img {
  width: 40px;
  height: 40px;
}