<template name="events_browser">

	<div class="events-browser">

		<div class="page-content">	

			<div class="" id="map-box">
			</div>

			<div class="" id="filters-box">
				<div class="widget-box">
					<div class="widget-header">
						<h5 class="smaller">{{i18n "Procurar eventos"}}</h5>

						<div class="widget-toolbar no-border">
							<ul class="nav nav-tabs" id="myTab">
								<li class="active">
									<a data-toggle="tab" href="#where">{{i18n "Onde?"}}</a>
								</li>

								<li class="">
									<a data-toggle="tab" href="#when">{{i18n "Quando?"}}</a>
								</li>

								<li class="">
									<a data-toggle="tab" href="#what">{{i18n "O que vai rolar?"}}</a>
								</li>
							</ul>
						</div>
					</div>

					<div class="widget-body">
						<div class="widget-main padding-6">
							<div class="tab-content">
								<div id="where" class="tab-pane active">

									<div>
										<label for="form-field-select-3">Estado</label>
										<br>
										<select class="width-40 chosen-select" name="state" data-placeholder="Selecione o seu estado...">
											<option value=""></option>
											{{#each states}}
												<option value="{{_id}}">{{name}}</option>
											{{/each}}
										</select>
									</div>
									<hr>
									<div>
										<label for="form-field-select-3">Cidade</label>
										<br>
										<select class="width-40 chosen-select" name="city" data-placeholder="Selecione a sua cidade...">
											<option value=""></option>
											{{#each cities}}
												<option value="{{name}}">{{name}}</option>
											{{/each}}
										</select>
									</div>

								</div>

								<div id="when" class="tab-pane">
									Quando?
								</div>

								<div id="what" class="tab-pane">
									O que vai rolar? Estilo musical e talz...
								</div>
							</div>
						</div>
						<div class="widget-toolbox padding-8 clearfix">
							<button class="btn btn-xs btn-success pull-right">
								<span class="bigger-110">{{i18n "Procurar"}}</span>
								<i class="icon-arrow-right icon-on-right"></i>
							</button>
						</div>
					</div>
				</div>
			</div>

		</div>

	</div>

</template>