<template name="error_item">
	{{#if show}}
	<div class="alert alert-danger">
		<button type="button" class="close" data-dismiss="alert">
			<i class="icon-remove"></i>
		</button>
		{{message}}
		<br>
	</div>
	{{/if}}
</template>