<template name="layout">

	{{> navbar }}

	<div class="main-container" id="main-container">

		<div class="main-container-inner">

			<div class="main-content main-content-full-page">
				{{> error}}
				{{yield}}

			</div>

		</div>

	</div>

</template>