<template name="layout_sidebar">

	{{> navbar }}

	<div class="main-container" id="main-container">

		<div class="main-container-inner">

			{{> sidebar }}

			<div class="main-content">
				{{> error}}
				{{yield}}
			</div>

		</div>

	</div>

</template>