.navbar .signup-button {
  margin-top: 10px
}

.navbar .navbar-search .nav-search {
  position: initial;
  margin: 10px 10px 0px 10px;
}

.navbar .navbar-search .nav-search input {
  width: 300px;
  border-radius: 4px!important;
}

.navbar .signin-buttons {
  line-height: 0;
  margin-left: 15px;
  border-left: 0;
}