<template name="navbar_search">
	<div class="nav-search" id="nav-search">
		<form class="form-search" >
			<span class="input-icon">
				<input type="text" placeholder="Search ..." class="input-small nav-search-input" id="nav-search-input" autocomplete="off" />
				<i class="icon-search nav-search-icon"></i>
			</span>
		</form>
	</div>
</template>