<template name="navbar">

	<div class="navbar navbar-default navbar-fixed-top" id="navbar">

		<div class="navbar-container" id="navbar-container">
			<div class="navbar-header pull-left">
				<a href="{{pathFor 'events_browser'}}" class="navbar-brand">
					<img src="/images/general/gouere-logo-1024x1024.png" width="24" height="24">
					<small>
						Gouere
					</small>
				</a>
			</div>

			{{#if currentUser}}
			<div class="navbar-header pull-left navbar-search" role="navigation">
				<div class="nav-search">
					<form class="form-search" method="get" action="{{pathFor 'search'}}">
						<span class="input-icon">
							<input type="text" name="q" class="input-sm ui-autocomplete-input" placeholder="Procure por nome, local, cidade etc..." autocomplete="off">
							<i class="icon-search nav-search-icon"></i>
						</span>
					</form>
				</div>
			</div>
			{{/if}}

			<div class="navbar-header pull-right" role="navigation">
				<ul class="nav ace-nav">
					{{#if currentUser }}
					<li class="light-blue">
						<a data-toggle="dropdown" href="#" class="dropdown-toggle">
							<img class="nav-user-photo" src="https://graph.facebook.com/{{currentUser.services.facebook.id}}/picture?type=square" alt="Jason's Photo" />
							<span class="user-info">
								<small>{{i18n "Bem vindo"}},</small>
								{{currentUser.services.facebook.first_name}}
							</span>

							<i class="icon-caret-down"></i>
						</a>

						<ul class="user-menu pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-closer">
							{{#if isAdmin currentUser}}
							<li>
								<a href="{{pathFor 'admin_index'}}">
									<i class="icon-tasks"></i>
									{{i18n "Administração"}}
								</a>
							</li>
							{{/if}}

							<li class="divider"></li>

							<li>
								<a class="btn-logout" href="#">
									<i class="icon-off"></i>
									{{i18n "Sair"}}
								</a>
							</li>
						</ul>
					</li>
					{{else}}
					<li class="light-blue">
						<a title="Como funciona o Gouere?" data-toggle="dropdown" class="dropdown-toggle" href="{{pathFor 'how_works'}}">
							<i class="icon-question"></i>
						</a>
					</li>
					<li class="signin-buttons">
						<div class="signup-button">
							{{loginButtons}}
						</div>
					</li>
					{{/if}}
				</ul>
			</div>
		</div>
	</div>

</template>