<template name="sidebar">

	<div class="sidebar" id="sidebar">

		<div class="sidebar-shortcuts" id="sidebar-shortcuts">
			<div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
				<button class="btn btn-success">
					<i class="icon-signal"></i>
				</button>

				<button class="btn btn-info">
					<i class="icon-pencil"></i>
				</button>

				<button class="btn btn-warning">
					<i class="icon-group"></i>
				</button>

				<button class="btn btn-danger">
					<i class="icon-cogs"></i>
				</button>
			</div>

			<div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
				<span class="btn btn-success"></span>

				<span class="btn btn-info"></span>

				<span class="btn btn-warning"></span>

				<span class="btn btn-danger"></span>
			</div>
		</div>

		<ul class="nav nav-list">

			<li>
				<a href="{{pathFor 'admin_events_list'}}">
					<i class="icon-desktop"></i>
					<span class="menu-text"> {{i18n "Eventos"}} </span>
				</a>
			</li>

			<li>
				<a href="{{pathFor 'admin_places_list'}}">
					<i class="icon-desktop"></i>
					<span class="menu-text"> {{i18n "Locais"}} </span>
				</a>
			</li>

		</ul>

		<div class="sidebar-collapse" id="sidebar-collapse">
			<i class="icon-double-angle-left" data-icon-left="icon-double-angle-left" data-icon-right="icon-double-angle-right"></i>
		</div>

	</div>
	
</template>