<template name="layout_container">

  {{> navbar }}

  <div class="main-container container" id="main-container">

    <div class="main-container-inner">

      <div class="main-content main-content-full-page">
        {{> error}}
        {{yield}}

      </div>

    </div>

  </div>

</template>